/vendor/
/.env
/.env.*
!/.env.example
!/.env.production.example
/.runtime/
/.phpunit.cache/
/.phpunit.result.cache
/public/assets/
/public/storage
/public/docs/
/public/manifest.json
/public/css/filament/
/public/js/filament/
/public/fonts/filament/
/storage/*.sqlite
/storage/app/*
!/storage/app/.gitignore
/storage/framework/*
!/storage/framework/.gitignore
/storage/logs/*
!/storage/logs/.gitignore
/bootstrap/cache/*
!/bootstrap/cache/.gitignore
/node_modules/
